# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Caché de Streamlit
.streamlit/